body {
  font-family: helvetica;
}
.hero {
  background-image: url('https://images.unsplash.com/45/ZLSw0SXxThSrkXRIiCdT_DSC_0345.jpg?fit=crop&fm=jpg&h=700&q=80&w=1050');
  height: 500px;
  width: 100%;
}
#map {
  height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
  /*margin-bottom: -10px;*/
}
#user_nav {
  font-size: 1.3em;
  color: #37006E;
  background-color: #FFFFCC;
  height: 40px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: right;

}

#panel {
  background-color:#D6EBFF;
  height: 300px;
  width: 100%;

}
#address {
  /*padding: 15px;*/
  font-size: 22px;
  line-height: 1.4;
  border-radius: 5%;
  width: 30%;
  text-align: center;
  color:#CFCFD8;
}
#submit {
  background-color: tomato;
  line-height: 1.4;
  /*padding: 15px;*/
  font-size: 22px;
}
.form-input {
  position: relative;
  top: 10%;
  left: 80%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#panel h1 {
  padding-top: 15px;
  color: #006B6B;
  font-size: 4em;
  margin-top: -4px;
  margin-bottom: 30px;
  text-align: center;
}
.food-truck {
  background-color:#F5EBFF;
  margin-top: -45px;
}
.food-truck h1 {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 4em;
  text-align: center;

}
.food-truck h3 {
  font-size: 1.2em;
  margin-left: 20px;
}
.food-truck p {
  font-size: 1.2em;
  margin-left: 20px;

}
.pagination {
  text-align: center;
}
footer {
  height: 100px;
}
footer p{
  text-align: right;
  font-size: 1.2em;
  margin-right: 20px;
  line-height: 80%;
}